*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	background: linear-gradient(to bottom,#b2c2c3,#ccc);
	background:-webkit-linear-gradient(to bottom,#b2c2c3,#ccc);/*Safari & chrome*/
	background:-moz-linear-gradient(to bottom,#b2c2c3,#ccc);/*Mozilla*/
	color:#223;
}
header{
	font-size: 23px;
	font-family: fantasy;
	padding-left: 250px;
}
nav{
	margin-left: 750px;
	height: 60px;
	font-family: tahoma;
}
nav ul li{
	display: inline-block;
	padding-right:10px;
}
nav ul li a{
	text-decoration: none;
	color: inherit;
}
nav ul li a:hover{
	color: #3b5998;
}
.main_section{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	height: 450px;
}
.section_image{
	margin-left: 20%;
	padding-bottom: 20px;
}
.pp{
	width: 350px;
	height: 350px;
	border-radius: 50%;
}
.section_text{
	width: 100%;
}
.txt{
	font-size: 4em;
	font-family: fantasy;
}
.circle{
display: flex;
flex-direction: row;
justify-content: flex-start;
}
.first,.second,.third,.fourth{
	width: 100px;
	height: 100px;
	border:1px solid black;
	border-radius: 50%;
	margin-left: 20px;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	color: white;
	opacity: 0.7;
	animation-name: cTextAnimate;
	animation-duration:2s;
	animation-iteration-count: infinite;
}
@keyframes cTextAnimate{
	from {color: white;}
	to{color: #F3E96B;}
}
.first{
	background:gray;
}
.first:hover{
	background: #332;
}
.second{
	background: #333;
}
.second:hover{
	background: #223;
}
.third{
	background:#234;
}
.third:hover{
	background: #432;
}
.fourth{
	background:#443;
}
.fourth:hover{
	background: #254;
}
.circle_text{
	margin-top: 20px;
	padding-left: 20px;
	font-family: tahoma;
}
footer{
	border-top: 1px solid black;
	font-family: tahoma;
}
.home_follow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer ul li{
	display: inline-block;
	padding-right: 10px;
}
footer ul li a{
	color: inherit;
}
.fa-facebook-square:hover{
	color: #3b5998;
}
.fa-instagram:hover{
	background:linear-gradient(to right,#feda75,#fa7e1e,#d62976,#962fbf,#4f5bd5);
	border-radius: 12px;
}
.fa-twitter-square:hover{
	color: #00aced;
}
.fa-github-square:hover{
	color: #4078c0;
}
.fa-linkedin-square:hover{
	color: #4875B4;
}
.call{
	padding-top: 20px;
	margin-left: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.call_text{
	font-size: 20px;
	margin-left: 10px;
}
.call_list li{
	display: block;
	margin-left: 10px;
}
.foot_folo{
	text-align: center;
	font-size: 20px;
	font-family: fantasy;
}
.foot_txt{
	padding-top: 20px;
}
.contact{
	padding-top: 40px;
	margin-right: 20%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#contact{
	margin-left: 15px;
}
a{
color: inherit;
text-decoration:none;
}

/*About page css */
h3{
	font-size: 2em;
}
.abt_section{
	display: flex;
	flex-direction: column;
	max-height:100%; 
}
.about_section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.abtlist_container{
	margin: 0px;
}
.sectAbt_text{
	width: 100%;
	margin-left: 40px; 
}
.abt_text{
	font-size: 20px;
}
.me_text{
	width: 80px;
	height: 30px;
	background: #234;
	opacity: 0.6;
	color: white;
	border-radius: 5px 5px;
	text-align: center;
	padding-top: 8px;
}
.me_text:hover{
	background: #234;
	opacity: 1;
}
.about_list{
	padding-right: 5px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.abtlistfirst{
	padding-left: 325px;
}
.abt_list li{
	display: block;
	list-style: none;
	text-decoration: none;
}
.section_img{
	margin-left: 120px;
}
.pp1{
	width: 280px;
	height: 280px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 3px 3px 3px 3px #433;
	margin-top:15px;
}
.aspiration{
	font-size: 20px;
	font-family: tahoma;
	margin-left: 460px;
	height: 100%;
	background: #998;
	border-radius: 5px;
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}
.pro_head{
	font-size:25px;
	text-align: center;
}

/*about page css till here*/
/*cv css from here*/
h4{
	font-family: fantasy;
	font-size: 30px;
	background: gray;
	opacity: 1;
	width: 100%;
	color:white;
	border-radius: 10px 10px 10px 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	justify-content: center;
	animation-name: animate;
	animation-duration: 2s;
	animation-iteration-count:infinite;
}
h4:hover{
	opacity: 0.5;
}
@keyframes animate{
	from {background-color:gray ;}
	to{background-color: #204141;}
}

.cv_section{
	width: 100%;
	max-height: 1400px;
	box-sizing: border-box;
}
.sec_cv{
	display: flex;
	flex-direction: column;
	padding:5px;
}
.cv_exp,.education{
	font-size: 15px;
	font-family: sans-serif;
	border-bottom:2px solid gray;
	width: 100%;
}
.WE,.edu,.ski{
	margin-top: 5px;
	padding-left: 10px;
	font-size: 25px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.cv_exp{
background: #204141;
max-height: 300px;
border-radius: 5px;
}
.social_work{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
}
.v_descript{
color: #a1b34a;
}
.v_work{
	font-size: 12px;
	width: 100px;
	height: 100px;
	border:1px solid;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	padding:3px;
	background: #204141;
	opacity: 0.5;
	margin-left: 185px;
	transition: width 2s;
}
.v_work:hover{
	opacity: 1;
	border-radius: 10px;
	width: 150px;
}
.v_define{
	font-size: 15px;
	margin-left: 25px;
	width: 30%;
	margin-bottom: 10px;
}
.cv_skills{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: white;
	font-size: 20px;
	background:#204141; 
	margin-top: 5px;
	border-radius: 5px;
}
.tech_text{
	font-size: 12px;
	width: 100px;
	height: 100px;
	border:1px solid;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	padding:3px;
	background: #204141;
	opacity: 0.5;
	margin-top: 10px;
	transition: width 2s;
}

.tech_text:hover{
	opacity: 1;
	border-radius: 10px;
	width: 150px;
}
.tech_list ul li{
	list-style: none;
	font-family: sans-serif;
	padding-top: 10px;
}
.tech_skill{
	margin-top: 10px;
	margin-left: 75px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.lang_list ul li{
	list-style: none;
	font-family: sans-serif;
	padding-top: 10px;
}
.lang_skill{
	margin-top: 20px;
	margin-left: 75px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.lang_text{
	font-size: 12px;
	width: 100px;
	height: 100px;
	border:1px solid;
	line-height: 100px;
	text-align: center;
	border-radius: 50%;
	padding:3px;
	background: #204141;
	opacity: 0.5;
	margin-bottom: 10px;
	transition: width 2s;
}
.lang_text:hover{
	opacity: 1;
	width:150px;
	font-size: 10px;
	border-radius: 10px;
}
.J,.H,.C{
	width: 100px;
	border:2px solid #ab6;
	border-radius: 5px;
	text-align: center;
	transition: width 2s;
}
.J:hover,.H:hover,.C:hover{
	width: 200%;
}
.Nep,.Tib,.Eng,.Hin{
	width: 100px;
	border:2px solid #ab6;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 10px;
	transition: width 2s;
}
.Nep:hover,.Tib:hover,.Eng:hover,.Hin:hover{
	width: 200%;
}
.education{
	margin-top: 5px;
	margin-right: 5px;
	background: #204141;
	color: white;
	height: 350px;
	border-radius: 5px;
}
.edu_headText{
	padding: 10px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.edu_timeline{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 15px;
}
.date_no ul li,.edu_course ul li,.edu_school ul li{
	list-style: none;
	padding:15px;
}
.s_no ul li{
	padding: 10px;
	padding-left: 30px;
}
.s_no,.date_no,.s_no,.edu_course,.edu_school{
	padding-top: 8px;
}
.num{
	width: 25px;
	height: 25px;
	line-height: 25px;
	background: #222;
	opacity: 0.5;
	color: #aaa;
	border:1px dashed;
	border-radius: 50%;
	text-align: center;
}
.num:hover{
opacity: 1;
color: white;
}

/*cv ssection till here*/
/*contact css from here*/
.ct_mainSection{
	height: 1000px;
}
.mapForm_section{
	width: 100%; 
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.form_section{
	width: 50%;
	border:none;
	border-radius: 4px 4px;
	box-sizing: border-box;
}
label{
	padding: 5px 5px 5px 0;
	display: inline-block;
	font-family: sans-serif;
	font-weight: bold;
}
.main_form input[type=text]{
width: 100%;
padding: 12px;
}
input[type=email]{
width:100%;
padding: 12px;
}
textarea{
	height: 100px;
	width: 100%;
} 
textarea:hover{
border-color: black;
}
input:hover{
border-color: black; 
}

.lbl{					
	float: left;
	width: 25%;
	margin-top: 20px;
}
.inp{
	float: right;
	width: 75%;
	margin-top: 20px;
}
.label{
	clear: both;
}      					
.sbt{
	float: right;
	background: #ddd;
	border-radius: 5px;
	cursor: pointer;
	padding: 8px 6px;
}
.sbt:hover{
	background:black;
	color: white;
}
.map_section{
margin-right: 60px;
display: flex;
flex-direction: column;
}
iframe{
	width:400px;
	height:300px;
	border:0;
	border-radius: 10px 10px;
}
.mapp{
margin-top: 25px;
}
/**/
/*social site from here*/
h5{
	font-size: 4em;
	font-family: fantasy;
	text-align: center;
}
.social_section{
	width: 100%;
	height: 550px;
}
.sec_social{
	display: flex;
	flex-direction: row;
	height: 100%;
}
.sec_facebook{
border: 1px solid #444;
height: 220px;
text-align: center;
margin: 10px;
}
.sec_gmail{
border: 1px solid #444;
height: 220px;
text-align: center;
margin:10px;
}
.sec_instagram{
border: 1px solid #444;
height: 220px;
text-align: center;
margin:10px;
}
.sec_github{
border: 1px solid #444;
height: 220px;
text-align: center;
margin:10px;
}
.sec_twitter{
border: 1px solid #444;
height: 220px;
text-align: center;
margin:10px;
}
.sec_linkedin{
border:1px solid #444;
height: 220px;
text-align: center;
margin:10px;
}
.fbb,.gmm,.gitt,.instt,.linkk,.twitt{
	margin-top: 0;
	font-size: 20px;
	background: #998;
	width: 100%;
	transition: width 2s;
}
.fb_text,.gmail_text,.git_text,.twit_text,.link_text,.insta_text{
	margin-top: 23px;
}
.fb_icon,.gmail_icon,.git_icon,.twit_icon,.link_icon,.insta_icon{
 	position: relative;
	background: #998;
}
.fa-google-plus-square:hover{
	color: #d34836;
}
.fbb:hover,.gmm:hover,.gitt:hover,.instt:hover,.linkk:hover,.twitt:hover{
	background: #99adad;
	width: 100%;
}

/*social css till here*/


/*css for modal_GP from here*/
.modal_body{
	background: white;
	background-repeat: no-repeat;
	font-size: 20px;
}
.modal_header{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	background: #88899a;
}
.table_header{
	font-size: 23px;
	font-weight: bold;
	margin-top: 15px;
}
table{
	font-family: tahoma,sans-serif;
	border-collapse: collapse;
	width: 100%;
	border-spacing: 15px;
}
td,th{
	border: 1px solid #cccccc;
	text-align:center;
	padding: 10px;
}
.content_li ul li{
	list-style: none;
	padding: 5px;
}
tr:nth-child(even) { 
    background-color: #dddddd;
}
/*modal introduction part*/
.modal_intro{
	width: 100%;
	max-height: 200px;
	text-align: left;
	padding-top: 15px;
	padding-left: 25px;
}
.intro_header,.UI_text,.exp_modal,.imp_model,.mockup_text,.refer_model,.valid_model{
	font-weight: bold;
	font-size: 23px;
	background:#88899a;
	width: 100%;
	border-radius: 3px;
}
.UI_design,.modal_experience,.modal_implement,.modal_wireframe,.modal_reference,.model_validate{
	padding-left: 25px;
	padding-top: 15px;
}
.modal_img{
	display: flex;
	flex-direction: row;
}
.mainJpg,.MobJpg{
	width: 100%;
	height: 100%;
	padding:10px;
}

.single_img{
	padding-left: 10px;
}
.single1_img{
	width: 50%;
	height: 500px;
}
.wiree{
	display: flex;
	flex-direction: column;
}
.sc{
	font-weight: bold;
	font-size: 20px;
}
.ref_list ol li{
padding:8px;
}


/*mobile responsiveness from here*/
/*for screen size smaller than 480px(SMARTPHONES)*/
@media only screen and (max-width: 480px){
	body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	header{
	font-size: 15px;
	font-family: fantasy;
	padding-left: 20px;
}
nav{
	margin-top: 10px;
	margin-left: 10px;
	height: 60px;
}
nav ul li{
	display: inline-block;
}
.main_section{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.section_image{
	margin-left: 12%;
}
.pp{
	width: 280px;
	height: 280px;
	border-radius: 50%;
}
.txt{
	font-size: 3em;
	font-family: fantasy;
}
.first{
	width: 100px;
	height:100px;
	border:1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	color: white;
	opacity: 0.7;
}
.second{
	width: 100px;
	height: 100px;
	border:1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	color: white;
	opacity: 0.7;
}
.third{
	width: 100px;
	height: 100px;
	border:1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	color: white;
	opacity: 0.7;
}
.fourth{
	width: 100px;
	height: 100px;
	border:1px solid black;
	border-radius: 50%;
	margin-left: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 10px;
	color: white;
	opacity: 0.7;
}
.home_follow{
	display: flex;
	flex-direction: column;
}
footer ul li{
padding:0;
display: inline-block;
}
.call{
	padding-top: 20px;
	margin:0;
	display: flex;
	flex-direction:row;
	border-bottom: 1px solid #333;
}
.call_text{
	display: inline-block;
	font-size: 20px;
	margin-left: 10px;
}
.foot_folo{
	text-align: left;
	font-size: 20px;
	font-family: fantasy;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #333;
}
.foloList{
	padding-top: 20px;
	padding-left: 20px;
}


/*contact page smaller screen css*/


.mapForm_section{
	width: 100%; 
	height: 480px;
}
.form_section{
	width: 50%;
}
label{
	padding-left: 1px;
}
.main_form input[type=text]{
width: 100%;
padding:10px;
margin-left: 35px;
}
input[type=email]{
width: 100%;
padding: 10px;
margin-left: 35px;
}
textarea{
	height: 100px;
	width:90%;
	margin-left: 35px;
}
.sbt{
	float: right;
	background: #ddd;
	border-radius: 5px;
	cursor: pointer;
	padding: 4px 3px;
}
.map_section{
	margin-right: 1px;
	margin-left: 15px;
}
.mapp{
	margin-left: 40px;
}
.map_text{
	margin-left: 40px;
}
iframe{
	width:150px;
	height:230px;
	border:0;
	border-radius: 10px 10px;
}


/*social page smaller screen css from here*/

h5{
	font-size: 2em;
}
.social_section{
	width: 100%;
	height: 100%;
}
.sec_social{
	display: flex;
	flex-direction: column;
	border:2px solid #333;
}

.sec_facebook{
border:none;
height: 100%;
text-align: center;
margin: 10px;
}

.sec_gmail{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_instagram{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_github{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_twitter{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_linkedin{
border:none;
height: 80px;
text-align: center;
margin:10px;
}
.fbb,.gmm,.gitt,.instt,.linkk,.twitt{
	margin-top: 0;
	font-size: 15px;
	background: #998;
	width: 100%;
}
.fb_text,.gmail_text,.git_text,.twit_text,.link_text,.insta_text{
	margin-top: 5px;
}
.fb_icon,.gmail_icon,.git_icon,.twit_icon,.link_icon,.insta_icon{
float: right;
background: none;
}
.fa-google-plus-square:hover{
	color: #d34836;
}
.fbb:hover,.gmm:hover,.gitt:hover,.instt:hover,.linkk:hover,.twitt:hover{
	background: #99adad;
	width: 100%;
}

/*cv small screen css from here*/

.cv_section{
	width: 100%;
	max-height: 2000px;
	box-sizing: border-box;
}
h4{
	width: 100%;
	margin-left: 0;
}
.social_work{
	display: flex;
	flex-direction: row;
	color: white;
	margin: 8px;
}
.v_define{
	font-size: 15px;
	margin-left: 10px;
	width: 100%;
}
.WE,.edu{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.ski{
	font-size: 20px;
	font-weight: bold;
	color: white;
	margin-left: 10px;
}
.v_work{
	margin-left: 5px;

}
.tech_text{
margin-left: 5px;
margin-top: 0;
}
.tech_text:hover{
	border-radius: 10px;
	width: 120px;
}

.tech_list ul li{
	list-style: none;
	font-family: sans-serif;
	display:block;
}
.cv_skills{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	font-size: 20px;
	background:#204141; 
	margin-top: 5px;
	border-radius: 5px;
	width: 100%;
	padding:5px;
}

.tech_skill,.lang_skill{
	display: flex;
	flex-direction: column;
	padding-top: 1px;
}
.J:hover,.H:hover,.C:hover{
	width: 120%;
}
.tech_skill{
	margin-left: 0px;
}
.lang_skill{
	margin-top: 5px;
	padding-right: 50px;
}
.lang_text:hover{
	width: 120px;
}
.lang_list ul li{
	padding-top: 1px;
}

.Nep,.Tib,.Eng,.Hin{
	margin-bottom: 1px;
	margin-right: 1px;
}
.Nep:hover,.Tib:hover,.Eng:hover,.Hin:hover{
	margin-bottom: 1px;
	margin-right: 1px;
	width: 120%;
}
.education{
	margin-top: 5px;
	margin-right: 5px;
	background: #204141;
	color: white;
	height: 100%;
	border-radius: 5px;
}
.s_no,.date_no,.edu_course,.edu_school{
	padding: 0;
}
.s_no ul li,.date_no ul li,.edu_course ul li,.edu_school ul li{
	padding:8px;
}
.edu_course ul li .four{
	padding-top: 15px;
}
.edu_course ul li .three{
	padding-top: 10px;
}
.date_no ul li .four{
	padding-top: 17px;
}
.s_no ul li{
	padding-top: 18px;
}


/*About page css for samller screen from here*/

.pp1{
	width: 150px;
	height: 150px;
}
.section_img{
	margin-left: 5px;
}
.sectAbt_text{
	width: 100%;
	margin-left: 0;
}
.abt_text{
	font-size: 15px;
	width: 100%;
}
.abt_section{
	max-height:1000px; 
}
.about_list{
	margin-left: 0px;
	padding-right: 0;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.abtlistfirst{
	padding-left: 5px;
}
.aspiration{
	font-size: 15px;
	margin-left: 5px;
}

}
/*css for medium devices(tablets, 1020px and up)*/

@media only screen and (min-width: 480px) and (max-width:1020px){
body{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	header{
	font-size: 19px;
	font-family: fantasy;
	padding-left: 20px;
}
nav{
	margin-top: 10px;
	margin-left: 80px;
	height: 60px;
}
nav ul li{
	display: inline-block;
}
.main_section{
	width: 100%;
	max-height: 1000px;
	margin-top: 50px;
}
.section_image{
	margin-top: 30px;
	margin-left: 0;
}
.section_text{
	width: 100%;
}
.pp{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.txt{
	font-size: 2em;
	font-family: fantasy;
}
.call{
	padding-top: 20px;
	margin-left: 1px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.call_text{
	font-size: 20px;
	margin-left: 10px;
}
.call_list li{
	display: block;
	margin-left: 10px;
}
.foot_folo{
	text-align: center;
	font-size: 20px;
	font-family: fantasy;
}
.foot_txt{
	padding-top: 20px;
}
.contact{
	padding-top: 40px;
	margin-right: 1px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
#contact{
	margin-left: 15px;
}
/*contact page medium screen css*/

.ct_mainSection{
	max-height: 800px;
}
.mapForm_section{
	width: 100%; 
	padding-top: 50px;
}
.form_section{
	width: 50%;
}
label{
	padding-left: 1px;
}
.main_form input[type=text]{
width: 100%;
padding:10px;
}
input[type=email]{
width: 100%;
padding: 10px;
}
textarea{
	height: 100px;
	width: 100%;
}
.sbt{
	float: right;
	background: #ddd;
	border-radius: 5px;
	cursor: pointer;
	padding: 4px 3px;
}
.map_section{
	margin-right: 1px;
	margin-left: 15px;
}
.mapp,.map_text{
	margin-left: 25px;
}
iframe{
	width:250px;
	height:230px;
	border:0;
	border-radius: 10px 10px;
}


/*Social page medium screen css from here*/

h5{
	font-size: 2em;
}
.social_section{
	width: 100%;
	height: 100%;
}
.sec_social{
	display: flex;
	flex-direction: column;
	border:2px solid #333;
}

.sec_facebook{
border:none;
height: 80px;
text-align: center;
margin: 10px;

}
.sec_gmail{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_instagram{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_github{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_twitter{
border: none;
height: 80px;
text-align: center;
margin:10px;
}
.sec_linkedin{
border:none;
height: 80px;
text-align: center;
margin:10px;
}
.fbb,.gmm,.gitt,.instt,.linkk,.twitt{
	margin-top: 0;
	font-size: 15px;
	background: #998;
	width: 100%;
}
.fb_text,.gmail_text,.git_text,.twit_text,.link_text,.insta_text{
	margin-top: 5px;
}
.fb_icon,.gmail_icon,.git_icon,.twit_icon,.link_icon,.insta_icon{
float: right;
background: none;
}
.fa-google-plus-square:hover{
	color: #d34836;
}
.fbb:hover,.gmm:hover,.gitt:hover,.instt:hover,.linkk:hover,.twitt:hover{
	background: #99adad;
	width: 100%;
}

/*cv small screen css from here*/

.cv_section{
	width: 100%;
	max-height: 2000px;
	box-sizing: border-box;
}
h4{
	width: 100%;
	margin-left: 0;
}
.social_work{
	display: flex;
	flex-direction: row;
	color: white;
	margin: 8px;
}
.v_define{
	font-size: 15px;
	margin-left: 10px;
	width: 100%;
}
.WE{
	margin-top: 5px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.v_work{
	margin-left: 5px;

}
.tech_text{
margin-left: 5px;
margin-bottom: 45px;
}
.tech_list ul li{
	list-style: none;
	font-family: sans-serif;
	display:block;
}
.cv_skills{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: white;
	font-size: 20px;
	background:#204141; 
	margin-top: 5px;
	border-radius: 5px;
	width: 100%;
}

.tech_skill,.lang_skill{
	display: flex;
	flex-direction: column;
}
.tech_skill{
	margin-left: 0px;
}

.Nep,.Tib,.Eng,.Hin{
	margin-bottom: 7px;
	margin-right: 5px;

}
.lang_skill{
	margin-top: 10px;
	margin-right: 50px;
}
.education{
	margin-top: 5px;
	margin-right: 5px;
	background: #204141;
	color: white;
	height: 100%;
	border-radius: 5px;
}

/*About page css for medium screen from here*/

.pp1{
	width: 150px;
	height: 150px;
}
.section_img{
	margin-left: 5px;
}
.sectAbt_text{
	width: 100%;
	margin-left: 2px; 
}
.abt_text{
	font-family: tahoma;
	font-size: 15px;
	width: 100%;
}
.abt_section{
	max-height:2000px; 
}
.about_list{
	margin-left: 0px;
	padding-right: 5px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.aspiration{
	font-size: 15px;
	margin-left: 5px;
}
.abtlistfirst{
	padding-left: 180px;
}


}


